---
type Props = {
  title: string;
  class?: string;
  "class:list"?: string[];
};

const { title, class: classStr, "class:list": classList } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{title}</title>
  </head>
  <body class={classStr} class:list={classList}>
    <slot />
  </body>
</html>
